<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="de.worldtree.wetten.model.Account"/>
  <!-- <mapping class="de.worldtree.wetten.model.AccountRights" resource="de/worldtree/wetten/model/AccountRights.hbm.xml"/> -->
  <mapping class="de.worldtree.wetten.model.AccountRole"/>
  <mapping class="de.worldtree.wetten.model.Event"/>
  <mapping class="de.worldtree.wetten.model.Game"/>
  <mapping class="de.worldtree.wetten.model.Tip"/>
  <!-- <mapping class="de.worldtree.wetten.model.EventPlayer" resource="de/worldtree/wetten/model/EventPlayer.hbm.xml"/> -->
 </session-factory>
</hibernate-configuration>
