<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <mapping class="de.worldtree.wetten.model.Account" resource="de/worldtree/wetten/model/Account.hbm.xml"/>
  <mapping class="de.worldtree.wetten.model.AccountRights" resource="de/worldtree/wetten/model/AccountRights.hbm.xml"/>
  <mapping class="de.worldtree.wetten.model.AccountRole" resource="de/worldtree/wetten/model/AccountRole.hbm.xml"/>
  <mapping class="de.worldtree.wetten.model.Event" resource="de/worldtree/wetten/model/Event.hbm.xml"/>
  <mapping class="de.worldtree.wetten.model.Game" resource="de/worldtree/wetten/model/Game.hbm.xml"/>
  <mapping class="de.worldtree.wetten.model.Tip" resource="de/worldtree/wetten/model/Tip.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
